body{
    background-color: gray;
    height: 200vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main";
    margin: auto 0;
    font-family: sans-serif;
}

header{
    background-color: lightgreen;
    grid-area: header;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 20vh;
}

main{
    background-color: gray;
    grid-area: main;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 80vh;
}

.post{
    background-color: lightgreen;
    margin: 20px;
    padding: 10px;
    width: 800px;
    border-radius: 10px;
}

.tag{
    text-decoration: none;
    color: rgb(117, 117, 117);
    
}
    
