body{
    
    margin: auto;
    height: 100vh;
    background-color: rgb(34, 34, 34);
    font-size: 50px;
    font-family: sans-serif;
    color: lightgreen;
    text-justify: center;
    text-align: center;
    

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.karta{
    background-color: lightgreen;
    padding;
    margin: 100px;
    width: 300px;
    height: 600px;
    border-radius: 30px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text{
    opacity: 0;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    border: 2px solid lightgreen;
    padding: 5px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.txt{
    transition: 0.3s;
    text-decoration: none;
    color: white;
    border: 2px solid lightgreen;
    padding: 5px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text:hover{
    width: 260px;
    border-radius: 5px;
}

.a{
background-image: url(https://www.travelplanet.pl/dbphotos/przewodnik/paryz_1609.jpg);
background-size: cover;







}

.b{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/Clock_Tower_-_Palace_of_Westminster%2C_London_-_September_2006.jpg);
    background-size: cover;
    
}

.c{
    background-image: url(https://www.urbanity.pl/images/building/00/2/2_palac-kultury-i-nauki.jpg);
    background-size: cover;
    
}


.d{
    background-image: url(https://dzieje.pl/sites/default/files/styles/open_article_750x0_/public/202003/statua.jpg?itok=f1fYN1Cq);
    background-size: cover;
    
}

.karta:hover{
    opacity: 0.5;
    
}

.karta:hover .text{

   opacity: 1;
    
}

.powrot{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 50px;
}