body{
    display: grid;
    height: 100vh;
    margin: auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
    "header header header header"
    "footer nav nav nav"
    "footer nav nav nav"
    "footer nav nav nav";
    font-family: Helvetica;
}

header{
    grid-area: header;
    background-color: rgb(158, 158, 158);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    grid-area: footer;
    background-color: rgb(124, 124, 124);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    grid-area: nav;
    background-color: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    
    background-color: lightgreen;
    width: 75%;
    text-align: center;
    text-justify: center;
    border-collapse: collapse;
    
    
}

.text{
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px solid lightgreen;
    padding: 5px;
    margin: 15px;
    font-size: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

::placeholder{
    color:lightgreen;
    opacity: 0.3;
    
}


.button{

    background: none;
    border: none;
    outline: none;
    background-color: lightgreen;
    padding: 15px;
    font-size: 20px;
    width: 300px;
    border-radius: 10px;

}

.button:active{
    background-color: rgb(54, 82, 54);
    transform: translateY(4px);
}

.td{
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    background-color: rgb(158, 158, 158);
}

.th{
    border: 1px solid black;
    margin: 10px;
    padding: 25px;
    background-color: lightgreen;
    font-size: 25px;
}

.h{
    font-size: 50px;
    color: lightgreen;
}







